/* GENERAL CONFIG */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none
}

/* Scrollbar config */
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--grey);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--spotify-green);
}


/* Colors */

:root{
    --dark: #000000;
    --dark-blue: #141922;
    --dark-grey: #282828;
    --grey: #C1C1C1;
    --spotify-green: #ADFF2F;
}

a{
    text-decoration: none;
    color: var(--grey);
}

/* FLEX SETTINGS */
.d-flex{
    display: flex;
}

.j-end{
    justify-content: flex-end;
}

.j-center{
    justify-content: center;
}

.f-wrap{
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
    align-content: center;
}

.flex-column{
    flex-direction: column;
}

.s-between{
    justify-content: space-between;
}

.s-around{
    justify-content: space-around;
}

/* UTILITY */
.debug{
    border: 1px solid red;
}
.text-up{
    text-transform: uppercase;
}
.text-small{
    font-size: 10px;
}
.song-title{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
/* HOVER */
.secondary-nav li:hover .green-line{
    display: block;
}
.upgrade-btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
    border: 1px solid white;
}

.img-hover-box:hover .img-hover-position{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0;
    left: -0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.main-nav li:hover{
    border-left: 2px solid var(--spotify-green);
    color: white;
}

/* DIMENSION CONFIG */

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
}

main{
    width: 100%;
    height: calc(100% - 80px);   
}

#playbar{
    height: 80px;
    width: 100%;
    background-color: var(--dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.main-nav{
    width: 240px;
    min-height: calc(100vh - 80px);
    background-color: var(--dark);
    position: relative;
}

/* MAIN NAV CONFIG */

.top-navigator ul li{
    line-height: 2rem;
    padding-left: 1rem;
}

.main-nav a{
    padding-left: 10px;
}

.top-navigator, .bottom-navigator{
    margin-left: 3px;
    margin-bottom: 1rem;
}

/* Bottom navigator config */

.bottom-navigator ul li{
    line-height: 2.5rem;
    padding-left: 1rem;
}

.bottom-navigator h2{
    font-size: 1.5rem;
    padding-left: 1rem;
}

.bottom-navigator ul li:first-child{
    margin-top: 1rem;
}

/* add playlist config */
.add-playlist{
    background-color: var(--grey);
    width: 25px;
}

.add-playlist i{
    font-size: 20px;
    color: var(--dark-grey);
}

/* playlist list config */

.playlist-list ul{
    color: var(--grey);
    overflow-y: auto;
    max-height: 200px;
}

/* user box config */
.userbox{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    background-color: black;
}

.user-circle{
    background-color: var(--grey);
    width: 10%;
    border-radius: 50%;
    overflow: hidden;
}

.userbox .subtitle{
    padding-bottom: 10px;
}

.userbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-data{
    padding-top: 1rem;
    align-items: center;
    
}

#username{
    color: white;
    font-weight: bold;
    padding-left: 5px;
}

/* logo config */
.logo{
    width: 80%;
    margin-bottom: 1rem;
    padding: 1rem;
}

#big-logo{
    width: 100%;
    display: block;
}

#small-logo{
    width: 50%;
    display: none;
}

/* Before icons */

#home::before{
    content: "\f015";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    font-size: 25px;
    color: var(--grey);
}

#search::before{
    content: "\f002";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: var(--grey);
    font-size: 25px;
}

#library::before{
    content: "\e51e";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: var(--grey);
    font-size: 25px;
}

.userbox .subtitle::before{
    content: '\f358';
    font-family: "Font Awesome 6 free";
}


/* MAIN CONTENT CONFIG */

.main-content{
    width: calc(100% - 240px);
    height: 100%;
    background-color: var(--dark-blue);
    overflow-y: auto;
}

/* Call-to-action config */

.call-to-action{
    height: 80px;
    width: calc(100% - 240px);
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;  
}

.upgrade-btn{
    padding: 10px 20px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    color: var(--grey);  
    margin-right: 32px; 
}

/* Content container config with cards, col and row config */
.content-container{
    overflow-y: auto;
    margin-top: 80px;
}


/* Secondary nav config */

.secondary-nav ul li{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary-nav a{
    padding-bottom: 5px;
}

.green-line{
    height: 2px;
    width: 50px;
    background-color: var(--spotify-green);
    display: none;
}

/* Content container section config */
.content-container section{
    padding: 1.5rem 0 1rem 1.5rem;
}

/* Titles and subtitles config */
.section-head{
    padding-left: 10px;
    padding-bottom: 1rem;
}

.section-head > *{
    padding-bottom: 1rem;
}

h2,h4{
    color: white;
    font-weight: bold;
}

.col h2,h4{
    padding: 10px;
}

.subtitle{
    color: var(--grey);
    font-size: 12px;
}

/* Rows and cols config */

.col{
    width: calc((100% / 6) - 10px);
    text-align: center;
    padding: 10px;
}

.img-hover-box{
    width: 100%;
    position: relative;
}

.img-hover-position{
    display: none;
}

.img-hover-box img{
    width: 100%;
    display: block;
}

/* Img circle config */
.img-circle{
    border-radius: 50%;
    overflow: hidden;
}

.img-circle img{
    object-fit: cover;
    object-position: center;
}

/* PLAYBAR CONFIG */
.song-block, .volume-block{
    width: 250px;
}

.control-block{
    width: 40%;   
}

/* Song block config */
.song-block{
    color: var(--grey);
    padding: .7rem;
}
.song-img{
    width: 30%;
}

.song-img img{
    width: 100%;
}

.song-block i{
    padding: 5px;
}

.song-name{
    padding-left: 10px;
    padding-right: 15px;
}

/* Control block config */


/* control buttons div config */
.control-buttons{
    height: 40%;
    width: 100%;
    padding: 1.5rem;
}

.control-buttons i{
    font-size: 20px;
    color: white;
    padding: 10px;
}

.play i{
    font-size: 30px;
    padding: 5px;
}

.play i:hover{
    scale: 1.1;
}
/* control time config */

.control-time{
    height: 50%;
    width: 100%;
    padding-bottom: 1rem;
}
.control-time p{
    color: white;
    padding: 1rem;
}

.control-time .bar-container{
    width: 80%;
}
/* Volume block config */
.bar-container{
    width: 60%;
    height: 5px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);   
}

.bar{
    width: 0;
    height: 100%;
    background-color: var(--grey);
    border-radius: 25px;
}

.bar-container:hover .bar{
    width: 100%;
    transition: 3s;
}

.volume-block i{
    color: rgba(255, 255, 255, 0.5);
}

/* RESPONSIVE */

/* MEDIUM RESPONSIVE */
@media screen and (min-width:769px) and (max-width: 991px){

    /* MAIN NAV CONFIG */
    #big-logo{
        width: 85%;
    }

    /* MAIN CONFIG */
    .col{
        width: calc((100% / 4) - 10px);
        text-align: center;
        padding: 10px;
    }
}

/* SMALL RESPONSIVE */
@media screen and (min-width:577px) and (max-width:768px) {
    
    /* MAIN NAV CONFIG */
    #big-logo{
        width: 70%;
    }

    /* MAIN CONFIG */
    .col{
        width: calc((100% / 2) - 10px);
        text-align: center;
        padding: 10px;
    }

    /* PLAYBAR CONFIG */

    .song-block, .volume-block{
        width: 200px;
    }
    
}

/* EXTRA SMALL RESPONSIVE */
@media screen and (max-width:576px){

    /* MAIN NAV CONFIG */
    .main-nav{
        max-width: 70px;
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #big-logo{
        display: none;
    }

    #small-logo{
        display: block;
        width: 70%;
        height: 100%;
    }

    .main-nav ul li{
        line-height: 2.5rem;
    }

    .main-nav a,
    .bottom-navigator li,
    .bottom-navigator h2,
    .add-playlist,
    .bottom-navigator p{
        display: none;
    }

    .user-circle{
        width: 100%;
    }

    .bottom-navigator h2,.add-playlist{
        display: none;
    }

    /* MAIN CONTENT CONFIG */

    .main-content{
        width: calc(100% - 70px);
        height: 100%;
        background-color: var(--dark-blue);
        overflow-y: auto;
    }

    

    .col{
        width: calc((100% / 2) - 10px);
        text-align: center;
        padding: 10px;
    }

    /* CALL TO ACTION CONFIG */
    .call-to-action{
        width: calc(100% - 70px);
    }

    /* PLAYBAR CONFIG */
    #playbar{
        justify-content: center;
    }

    .song-block, .volume-block{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .col{
        width: 100%;
    }
}


/* VERTICAL RESPONSIVE */
@media  screen and (max-height:350px ) {
    .userbox{
        display: none;
    }
}